### Q1 :  wap to print the following pattern(min 10 elements)      1 8 27 64 125 --------s.

In [11]:
n = int(input("Enter the number: "))

for i in range(1, n+1):
    print(pow(i,3), end=" ")

Enter the number:  10

1 8 27 64 125 216 343 512 729 1000

### Q2 : wap to find the sum of first 10 natural numbers.

In [15]:
n1 = int(input("Enter the number: "))
sum = 0
i = 0
while i <= n1:
    sum += i
    i+=1
print(f"Sum of first {n1} number is: {sum}")

Enter the number:  10

Sum of first 10 number is: 55

### Wap to input  10 numbers from user and find their sum and average.

In [22]:
sum=0
for i in range(10):
    num1 = int(input("Enter number: "))
    sum += num1
print(f"Sum: {sum}")
average = sum/10
print(f"Average: {average}")

Enter number:  4
Enter number:  76
Enter number:  9
Enter number:  3
Enter number:  5
Enter number:  6
Enter number:  7
Enter number:  8
Enter number:  2
Enter number:  3

Sum: 123
Average: 12.3

### Wap to print the factorial of a number.
### 
N=6  fact= 6*5*4*3*2*1

In [21]:
num = int(input("Enter a number: "))
fact = 1
if( num == 0 or num == 1):
    print(f" factorial of {num} is 1")

for i in range(1, num+1):
    fact = fact * i

print(f"factorial of {num} is {fact}")

Enter a number:  3

factorial of 3 is 6

### Wap to print the sum of the series
#### 
1  4 9 16 25 36 49 64

In [22]:
li = [1,4,9,16,25,36,49,64]

sum = 0
for i in li:
    sum +=i
print(sum)

204

### Wap to find the binary number of the given integer.

In [30]:
decNum = int(input("Enter a number: "))
binNum = ""
while decNum > 0:
    rem = decNum % 2
    binNum = str(rem) + binNum
    decNum = decNum // 2

print(f"Binary of the entered number is {binNum}")

Enter a number:  35

Binary of the entered number is 100011

### 1.      Input a number

2.      Find the modulus of this number by 2 and save it into a array

3.      After the loop is finished, print the array in reverse.

In [15]:
n = int(input("Enter the number to run the loop: "))
modArray = []

for i in range(n):
    num2 = int(input("Enter number: "))
    mod = num2 % 2
    modArray.append(mod)

print(f"The reverse array is: {modArray[::-1]}")

Enter the number to run the loop:  4
Enter number:  32
Enter number:  33
Enter number:  67
Enter number:  12

The reverse array is: [0, 1, 1, 0]

###  Wap to print all the lower case alphabets.

In [42]:
for i in range(97, 122+1):
    print(chr(i), " ",end="")

a  b  c  d  e  f  g  h  i  j  k  l  m  n  o  p  q  r  s  t  u  v  w  x  y  z

### Wap to input 10 numbers from user and find the minimum and maximum number.

In [1]:
li = []
for i in range(1, 10+1):
    num = int(input("Enter the number :"))
    li.append(num)

print(f"Maximum number is: {max(li)}")
print(f"Minimum number is: {min(li)}")

Enter the number : 1
Enter the number : 10
Enter the number : 4
Enter the number : 7
Enter the number : 2
Enter the number : 9
Enter the number : 5
Enter the number : 50
Enter the number : 56
Enter the number : 3

Maximum number is: 56
Minimum number is: 1

### Wap to print all the leap years from 1 to n.

In [24]:
n = int(input("Enter the value of n: "))
leapYyears = []

for year in range(1, n + 1):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        leapYyears.append(year)

print(leapYears[1:n])

Enter the value of n:  50

[8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48]

### Wap to read age of 15 people and find the number of adults, babies and school age students.

In [21]:
numPeople = int(input("Enter the number of people: "))
for i in range(numPeople):
    age = int(input("Enter age: "))
    if 0<=age<=4:
        print("Babies")
    elif 5<=age<=17:
        print("School age child")
    else:
        print("Adult")

Enter the number of people:  5
Enter age:  2

Babies

Enter age:  15

School age child

Enter age:  20

Adult

Enter age:  43

Adult

Enter age:  23

Adult