### Lab 2: Working with arrays using Jupyter

1. Convert the below list into numpy array then display the array
   
Input: my_list = [1, 2, 3, 4, 5]

In [1]:
import numpy as np
my_list = [1, 2, 3, 4, 5]
arr=np.array(my_list)
arr

array([1, 2, 3, 4, 5])

### Convert the below list into a numpy array then display the array then

display the first and last index and then multiply each element by 2 and

display the result.

Input: my_list = [1, 2, 3, 4, 5]

In [7]:
my_list = [1, 2, 3, 4, 5]
firstIndex=my_list[0]
lastIndex=my_list[-1]

print(f"First and last index of list is: {firstIndex} {lastIndex}")

arr1=np.array(my_list)
resultArray=arr1+arr1
print(f"Array after doubling each element: {resultArray}")

First and last index of list is: 1 5
Array after doubling each element: [ 2  4  6  8 10]

# Numpy-Slicing

### 1. Write a NumPy program to create an array of 10 zeros, 10 ones, and 10 fives.:

In [5]:
a=np.zeros((10,))
a

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [7]:
b=np.ones((10,))
b

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [9]:
c=np.full(10,5)
c

array([5, 5, 5, 5, 5, 5, 5, 5, 5, 5])

### 2. Write a NumPy program to create a 3x3 matrix with values ranging from 2 to 10.

In [24]:
matrix=np.arange(2,10+1).reshape((3,3))
print(matrix)

[[ 2  3  4]
 [ 5  6  7]
 [ 8  9 10]]

### 3. Write a NumPy program to create an array with values ranging from 12 to 38

In [15]:
array=np.arange(12,38+1)
array

array([12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28,
       29, 30, 31, 32, 33, 34, 35, 36, 37, 38])

### 4. Write a NumPy program to convert a list and tuple into arrays.
Input: my_list = [1, 2, 3, 4, 5, 6, 7, 8]

Input: my_tuple = ([8, 4, 6], [1, 2, 3])

In [20]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8]
my_tuple = ([8, 4, 6], [1, 2, 3])
my_list=np.array(my_list)
my_tuple=np.array(my_tuple)
print(my_list,"\n",my_tuple)
print(f"Type of list and tuple: {type(my_list)} and {type(my_tuple)}")

[1 2 3 4 5 6 7 8]
 [[8 4 6]
 [1 2 3]]
Type of list and tuple: <class 'numpy.ndarray'> and <class 'numpy.ndarray'>

# class practice questions

In [1]:
import numpy as np
a3=np.array([[1,2,3],[4,5,6]])
index=np.argmax(a3)
row,col=np.unravel_index(index,a3.shape)
print(a3[row,col])

6

In [4]:
li1=[]
for i in a3:
    for num  in i:
        li1.append(num)
print(f"1D Array: {type(np.array(li1))}, \tsize of array: {np.array(li1).shape}")
print(type(li1))

1D Array: <class 'numpy.ndarray'>, 	size of array: (6,)
<class 'list'>

In [5]:
li=np.empty(a3.size, dtype=int)
count=0
for i in a3:
    for num  in i:
        li[count]=num
        count+=1
# print(f"1D Array: {np.array(li)}\tsize of array: {np.array(li).shape}")
print(type(li))

<class 'numpy.ndarray'>

In [6]:
arr = np.array([3, 1, 2, 4, 5])

In [7]:
# Sort the array in ascending order (creates a new sorted array)
sorted_arr = np.sort(arr)
# Print the sorted array
print("Sorted array (ascending):", sorted_arr)
# Sort the array in descending order
sorted_arr_desc = np.sort(arr)[::-1]
# Print the sorted array in descending order
print("Sorted array (descending):", sorted_arr_desc)

Sorted array (ascending): [1 2 3 4 5]
Sorted array (descending): [5 4 3 2 1]

In [9]:
import numpy as np
arr = np.array([3, 1, 2, 4, 5])
# Sort the array in-place (modifies the original array)
arr.sort()
# Print the sorted array
print("Sorted array (ascending):", arr)
# To sort in descending order, you can reverse the array
arr[::-1].sort()
# Print the sorted array in descending order
print("Sorted array (descending):", arr)

Sorted array (ascending): [1 2 3 4 5]
Sorted array (descending): [5 4 3 2 1]

In [10]:
import numpy as np
matrix = np.array([[3, 1, 2],
[6, 5, 4]])
# Sort along rows (axis=1) in ascending order
sorted_matrix = np.sort(matrix, axis=1)
# Print the sorted matrix
print("Sorted matrix (ascending along rows):")
print(sorted_matrix)

Sorted matrix (ascending along rows):
[[1 2 3]
 [4 5 6]]

# Numpy Functions

### 1. Suppose you have a dataset containing daily temperature readings for a city, and you
want to identify days with extreme temperature conditions. Find days where the
temperature either exceeded 35 degrees Celsius (hot day) or dropped below 5 degrees
Celsius (cold day).

Input:

temperatures = np.array([32.5, 34.2, 36.8, 29.3, 31.0, 38.7, 23.1, 18.5, 22.8, 37.2])

In [11]:
temperatures = np.array([32.5, 34.2, 36.8, 29.3, 31.0, 38.7, 23.1, 18.5, 22.8, 37.2])
print("Hot Days:")
Temperature = temperatures[(temperatures>35)]
Day=np.argwhere(temperatures>35).flatten()
df=dict((i,j) for i, j in zip(Day,Temperature))
print("Day  Temperature(\u00b0C)")
for key, value in df.items():
    print(f"{key}     {value}")
    

print()

temperatures = np.array([32.5, 34.2, 36.8, 29.3, -4, 38.7, 23.1, -18.5, 22.8, 37.2])
print("Cold Days:")
temperature = temperatures[(temperatures<5)]
day=np.argwhere(temperatures<5).flatten()
df2=dict((i,j) for i, j in zip(day,temperature))
print("Day  Temperature(\u00b0C)")
for key, value in df2.items():
    print(f"{key}     {value}")

Hot Days:
Day  Temperature(°C)
2     36.8
5     38.7
9     37.2

Cold Days:
Day  Temperature(°C)
4     -4.0
7     -18.5

### 2. Suppose you have a dataset containing monthly sales data for a company, and you
want to split this data into quarterly reports for analysis and reporting purposes.

Input:

monthly_sales = np.array([120, 135, 148, 165, 180, 155, 168, 190, 205, 198, 210, 225])

In [12]:
monthly_sales = np.array([120, 135, 148, 165, 180, 155, 168, 190, 205, 198, 210, 225])
splitted=np.split(monthly_sales,4)
splitted
count=1
for i in splitted:
    print(f"Quarter {count} sales (in thousand )")
    print(i)
    count+=1

Quarter 1 sales (in thousand )
[120 135 148]
Quarter 2 sales (in thousand )
[165 180 155]
Quarter 3 sales (in thousand )
[168 190 205]
Quarter 4 sales (in thousand )
[198 210 225]

### 3. Suppose you have a dataset containing customer data, and you want to split this data
into two groups: one group for customers who made a purchase in the last 30 days and
another group for customers who haven't made a purchase in the last 30 days.

Input:

customer_ids = np.array([101, 102, 103, 104, 105, 106, 107, 108, 109, 110])

last_purchase_days_ago = np.array([5, 15, 20, 25, 30, 35, 40, 45, 50, 55])

In [23]:
customer_ids = np.array([101, 102, 103, 104, 105, 106, 107, 108, 109, 110])
last_purchase_days_ago = np.array([5, 15, 20, 25, 30, 35, 40, 45, 50, 55])

activeCust=np.argwhere(last_purchase_days_ago<=30).flatten()
print("Active Customer (Last Purchase <= 30 days ago)")
print([customer_ids[i] for i in activeCust])

print()

inactiveCust=np.argwhere(last_purchase_days_ago>30).flatten()
print("Active Customer (Last Purchase > 30 days ago)")
print([customer_ids[i] for i in inactiveCust])

Active Customer (Last Purchase <= 30 days ago)
[101, 102, 103, 104, 105]

Active Customer (Last Purchase > 30 days ago)
[106, 107, 108, 109, 110]

## 4.Suppose you have two sets of employee data—one containing information about
full-time employees and another containing information about part-time employees. You
want to combine this data to create a comprehensive employee dataset for HR analysi
s.
Inp

.t:
# Employee data for full-time emplo
yees
full_time_employees = np.ar
ray([
[101, 'John Doe', 'Full-Time', 5
5000],
[102, 'Jane Smith', 'Full-Time', 
60000],
[103, 'Mike Johnson', 'Full-Time', 5
2.000]
])
# Employee data for part-time
 employees
part_time_employees =
 np.array([
[201, 'Alice Brown', 'Part-Ti
me', 25000],
[202, 'Bob Wilson', 'Part-T
ime', 28000],
[203, 'Emily Davis', 'Part-Time', 22000]
])

In [27]:
# Employee data for full-time employees
full_time_employees = np.array([
[101, 'John Doe', 'Full-Time', 55000],
[102, 'Jane Smith', 'Full-Time', 60000],
[103, 'Mike Johnson', 'Full-Time', 52000]
])

# Employee data for part-time employees
part_time_employees = np.array([
[201, 'Alice Brown', 'Part-Time', 25000],
[202, 'Bob Wilson', 'Part-Time', 28000],
[203, 'Emily Davis', 'Part-Time', 22000]
])

result=np.vstack((full_time_employees,part_time_employees))
result

print("Combined Employee Data")
for i in range(len(result)):
    print(f"Employee ID: {result[i][0]}, Name: {result[i][1]}, Type: {result[i][2]}, Salary: {result[i][3]}")

Combined Employee Data
Employee ID: 101, Name: John Doe, Type: Full-Time, Salary: 55000
Employee ID: 102, Name: Jane Smith, Type: Full-Time, Salary: 60000
Employee ID: 103, Name: Mike Johnson, Type: Full-Time, Salary: 52000
Employee ID: 201, Name: Alice Brown, Type: Part-Time, Salary: 25000
Employee ID: 202, Name: Bob Wilson, Type: Part-Time, Salary: 28000
Employee ID: 203, Name: Emily Davis, Type: Part-Time, Salary: 22000