1. Write a Python program to find the number of times 4 appears in the tuple.
   
Input:
tuplex = (2, 4, 5, 6, 2, 3, 4, 4, 7)

Output: 3

In [1]:
tuplex=(2, 4, 5, 6, 2, 3, 4, 4, 7)
count=0
for i in tuplex:
    if i==4:
       count+=1
print(f"The nummber of time 4 appears in the tuple is {count}")

The nummber of time 4 appears in the tuple is 3

2.Write a Python program to convert a list to a tuple.

Input: listx = [5, 10, 7, 4, 15, 3
]
Output: (5, 10, 7, 4, 15, 3)

In [2]:
listx = [5, 10, 7, 4, 15, 3]
tuplee=tuple(listx)
tuplee

(5, 10, 7, 4, 15, 3)

3. Write a Python program to calculate the sum of the numbers in a given tuple.
    
Input: tuples_list = [(1, 2), (3, 4), (5, 6)]

In [4]:
tuples_list = [(1, 2), (3, 4), (5, 6)]
sum = 0
for lists in tuples_list:
    for i in lists:
        sum+=i

print(f"Sum: {sum}")

Sum: 21

4.Write a python program and iterate the given tuples

Input:

employee1 = ("John Doe", 101, "Human Resources", 60000)

employee2 = ("Alice Smith", 102, "Marketing", 55000)

employee3 = ("Bob Johnson", 103, "Engineering", 75000)

In [10]:
employee1 = ("John Doe", 101, "Human Resources", 60000)
employee2 = ("Alice Smith", 102, "Marketing", 55000)
employee3 = ("Bob Johnson", 103, "Engineering", 75000)
listx = [employee1, employee2, employee3]

print("Employee Records")
print("------------------------------------------------------")

for i in listx:
    name = i[0]
    employeeId = i[1]
    department = i[2]
    salary = i[3]
    
    print(f"Name: {name}")
    print(f"Employee ID: {employeeId}")
    print(f"Department: {department}")
    print(f"Salary: {salary}")
    print()

Employee Records
------------------------------------------------------
Name: John Doe
Employee ID: 101
Department: Human Resources
Salary: 60000

Name: Alice Smith
Employee ID: 102
Department: Marketing
Salary: 55000

Name: Bob Johnson
Employee ID: 103
Department: Engineering
Salary: 75000